<ion-header color="dark">
  <ion-toolbar color="dark">
    <ion-title>Endereço</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>Apelido para o Endereço</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input #nick placeholder="Ex: Minha casa"></ion-input>
  </ion-item>
  <ion-item-divider>
    <ion-label>Endereço</ion-label>
  </ion-item-divider>
  <ion-item>
      <ion-input (keyup)="formatCep()" #zipcode placeholder="CEP"></ion-input>
      <ion-button (click)="requestCep()" slot="end" expand="full" fill="clear" color="dark"><ion-icon slot="icon-only" name="search"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-input #street placeholder="Rua"></ion-input>
    </ion-item>
    <ion-item>
    <ion-input #number placeholder="Número"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input #complement placeholder="Complemento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input #neighborhood placeholder="Bairro"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input #city placeholder="Cidade"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input #state placeholder="Estado"></ion-input>
  </ion-item>
  <ion-item-divider>
    <ion-label>
      Opcionais
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label><p>Endereço Principal</p></ion-label>
    <ion-toggle #main_address></ion-toggle>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveAddress()" expand="full" fill="solid" color="dark">
      Salvar Endereço
    </ion-button>
  </ion-toolbar>
</ion-footer>
