expandable-header {
    background-color: #363636;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;

    img {
        position: absolute;
        bottom: -40px;
        border-radius: 50%;
        width: 75px;
        height: auto;
        margin-right: 15px;
    }
}