<ion-item-sliding>
  <ion-item>
    <ion-button #removeBt (click)="remove()" slot="end" fill="outline" color="medium">
      <ion-icon slot="icon-only" name="remove" ></ion-icon>
    </ion-button>
    <ion-button #addBt (click)="add()" slot="end" fill="outline" color="medium">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    <ion-label>
      <h2>{{order.product.name}}</h2>
      <p>Quantidades: {{order.qntItem}}</p>
      <p>{{order.product.price * order.qntItem | currencyFormat}}</p>
    </ion-label>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="removeItem()"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
  </ion-item-options>
</ion-item-sliding>