<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <custom-empty icon="cart" message="{{message}}" messageAction="{{messageAction}}" *ngIf="isEmpty"></custom-empty>
  <ion-list>
    <custom-cart-item *ngFor="let order of cartList" [order]="order"></custom-cart-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="!isEmpty">
  <ion-toolbar>
    <ion-button (click)="finishOrder()" expand="full" fill="solid" color="primary" size="small">
      Finalizar Pedido ● R$ 97,00
    </ion-button>  
  </ion-toolbar>
</ion-footer>