.card{
    margin: -100px 10px 10px;
    text-align: center;
}
.image{
    width: 100px;
    height: 100px;
    
}

ion-card-title{
    --color:#333
}

.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

ion-icon {
    margin-bottom: -2px;
}