.item-name{
    font-size: 14px;
    font-weight: 600;
}

.item-description{
    font-size: 12px;
}

.chip{
    float: right;
    font-size: 14px;
    border-radius: 5px;
    padding: 0px 10px;
    height: 30px;
}

ion-item{
    --inner-padding-start:10px;
    --padding-start:0
}
