<ion-item-divider lines="none">
  <ion-label>{{pastOrder.date}}</ion-label>
</ion-item-divider>
<ion-card *ngFor="let pOrder of pastOrder.past_orders">
  <ion-card-content>
    <ion-item *ngFor="let order of pOrder.orders">
      <ion-label>
        <h3>{{order.product.name}} <div>{{order.product.price | currencyFormat}}</div></h3>
        <h4>Quantidades: {{order.qntItem}}</h4>
      </ion-label>
    </ion-item>


<!--  <custom-past-order-show-more *ngIf="pOrder.orders.length > 3" (onClick)="showMore(order.id)"></custom-past-order-show-more>-->

  <custom-past-order-total [pOrder]="pOrder"></custom-past-order-total>
  <custom-past-order-re-order-button (onClick)="reOrder(pOrder)"></custom-past-order-re-order-button>
  </ion-card-content>
</ion-card>