<ion-item-sliding>
  <ion-item (click)="chooseAddress(address)">
    <ion-label class="ion-text-wrap"  >
      <p class="title">{{address.nick}}</p>
      <p>{{address.street}} {{address.number}}, {{address.complement}}, {{address.neighborhood}}</p>
      <h3>{{address.city}}, {{address.state}} </h3>
<!--      <div>80 a 120min</div></h3>-->
    </ion-label>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="primary" (click)="editAddress(address)"><ion-icon slot="icon-only" name="pencil-sharp"></ion-icon></ion-item-option>
  </ion-item-options>
</ion-item-sliding>
